<li>
    <div class="cd-full-width">
        <div class="container js-tm-page-content tm-section-margin-t" data-page-no="2">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tm-flex">
                        <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-left">
                            <div class="tm-bg-white tm-white-header-container">
                                <h2 class="tm-text-title tm-text-title-small">Surat Izin Penelitian Mahasiswa</h2>
                            </div>
                            <div class="tm-bg-dark-blue text-xs-left tm-textbox tm-textbox-padding tm-white-header-body tm-white-border tm-2-col-equal-height">
                                <p class="tm-text">Lakukan proses berikut untuk mahasiswa yang belum terdaftar di sistem lemlit</p>
                                <div>
                                  <div>
                                        <p class="tm-link"><a type="button" class="btn-lg btn-outline-primary" href="{% url 'base:create-mahasiswa' %}">1. Tambah Data Mahasiswa</a></p>
                                        <p class="tm-link"><a type="button" class="btn-lg btn-outline-primary" href="{% url 'base:create-penelitian' %}">2. Tambah Data Penelitian</a></p>
                                        <p class="tm-link"><a type="button" class="btn-lg btn-outline-primary" href="{% url 'lemlit:create-surat-penelitian-mahasiswa' %}">3. Pengajuan Surat Penelitian Mahasiswa</a></p>

                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 tm-white-header-container-outer tm-margin-b tm-2-col-right">
                            <div class="tm-bg-white tm-white-header-container">
                                <h2 class="tm-text-title tm-text-title-small">Surat Keterangan Penelitian Mahasiswa</h2>
                            </div>
                            <div class="tm-bg-dark-blue text-xs-left tm-textbox tm-textbox-padding tm-white-header-body tm-white-border tm-2-col-equal-height">
                                <p class="tm-text">Surat Keterangan dapat di cetak setelah mahasiswa mengajukan Surat Izin Penelitian.</p>

                                <p class="tm-link"><a type="button" class="btn-lg btn-outline-primary" href="{% url 'base:list-mahasiswa' %}">Data Mahasiswa</a></p>
                                <p class="tm-link"><a type="button" class="btn-lg btn-outline-primary" href="{% url 'base:list-penelitian' %}">Data Penelitian</a></p>
                                <p class="tm-link"><a type="button" class="btn-lg btn-outline-primary" href="{% url 'lemlit:list-surat-penelitian-mahasiswa' %}">Data Surat Penelitian Mahasiswa</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tm-flex">
                        <div class="col-lg-6 tm-margin-b tm-2-col-left">
                            <div class="tm-bg-white tm-textbox-padding tm-height-100">
                                <h2 class="tm-text-title tm-text-title-small tm-header-margin-b">Proin fringilla felis quam</h2>
                                <p class="tm-text">Ut massa mi, convallis eget pharetra eget, laoreet sit amet orci. Sed tincidunt nisi ut lectus pellentesque viverra. Aliquam condimentum lacinia.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 tm-margin-b tm-2-col-right">
                            <div class="tm-bg-white tm-textbox-padding tm-height-100">
                                <h2 class="tm-text-title tm-text-title-small tm-header-margin-b">Sed rhoncus egestas</h2>
                                <p class="tm-text">Pellentesque augue urna, ultrices sit amet luctus eget, ultricies sit amet ipsum. Nulla sem nisi, commodo sed auctor sed, euismod nec dui.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="tm-flex">
                        <div class="col-lg-4 tm-margin-b">
                            <div class="tm-bg-brown tm-white-border tm-textbox-padding tm-height-100">
                                <p class="tm-text">Aliquam facilisis ut purus non ultricies. Mauris a auctor turpis. Ut in consequat quam. Integer ex dui, eleifend non mi val, eleifend varius orci.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 tm-margin-b">
                            <div class="tm-bg-dark-blue tm-white-border tm-textbox-padding tm-height-100">
                                <p class="tm-text">Mauris tempor, massa quis viverra suscipit, sapien ipsum condimentum nulla, sed faucibus tellus libero eget dolor. In ornare posuere.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 tm-margin-b">
                            <div class="tm-bg-dark-brown tm-white-border tm-textbox-padding tm-height-100">
                                <p class="tm-text">Donec placerat eget enim vel fringilla. Vivamus nibh nisl, viverra vel nisl eget, feugiat fringilla quam. Naecenas sodales, magna sed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="tm-flex">
                        <div class="col-lg-4 tm-sm-margin-b">
                            <div class="tm-bg-dark-blue tm-white-border tm-textbox-padding tm-height-100">
                                <p class="tm-text">Quisque mattis pellentesque. Etiam rutrum neque at diam imperdiet, efficitur tincidunt turpis dignissim. Cras placerat placerat tempor.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 tm-sm-margin-b">
                            <div class="tm-bg-white tm-white-border tm-textbox-padding tm-height-100">
                                <p class="tm-text">Sed nec mi fringilla metus vehicula porttitor. Donec sit amet arcu quis massa mollis condimentum tempor eleifend enim.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 tm-sm-margin-b">
                            <div class="tm-bg-dark-blue tm-white-border tm-textbox-padding tm-height-100">
                                <p class="tm-text">In pellentesque, ipsum vitae dapibus ultrices, dui nunc fringilla enim, sit amet placerat nulla felis et nisl.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .cd-full-width -->

</li>