<html>
<head>
<style>
    .headerkop p{
        margin:0;
    }

    .alamatheader p{
        font-size: small;
    }

    .garis_header hr{
        display: block;
        height: 1px;
        background: transparent;
        width: 100%;
        border: none;
        border-top: solid 5px #aaa;
    }

    .isianmahasiswa tr{
        vertical-align: text-top;
    }

    .tandatanganketua p{
        margin:0;
    }

    .footer-petugas p{
        font-size: x-small;
    }

    body {
        margin-left: .8in;
    }


</style>
</head>
<div class="headerkop">
    <table>
    <tbody>
        <tr>
        <td><img src="https://ikhsandatuamas.files.wordpress.com/2014/02/mayang.jpg" width="90" height="91" /></td>
        <td>
        <p lang="id-ID" style="text-align: center;"><span style="color: #ff0000;"><strong>KEMENTERIAN RISET, TEKNOLOGI DAN PENDIDIKAN TINGGI</strong></span></p>
        <p lang="id-ID" style="text-align: center;"><span style="color: #ff0000;"><strong>LEMBAGA PENELITIAN (LEMLIT)</strong></span></p>
        <p lang="id-ID" style="text-align: center;"><span style="color: #ff0000;"><strong>UNIVERSITAS ICHSAN GORONTAL</strong><strong>O</strong></span></p>
        <div class="alamatheader">
            <p lang="id-ID" style="text-align: center;"><span style="color: #0000ff;">Jl. Raden Saleh No. 17 Kota Gorontalo</span></p>
            <p lang="id-ID" style="text-align: center;"><span style="color: #0000ff;">Telp: (0435) 8724466, 829975; Fax: (0435) 82997;</span></p>
            <p lang="id-ID" style="text-align: center;"><span style="color: #0000ff;">E-mail: <a style="color: #0000ff;" href="mailto:lembagapenelitian@unisan.ac.id">lembagapenelitian@unisan.ac.id</a></span></p>
        </div>
        </td>
        </tr>
    </tbody>
    </table>
</div>
<div class="garis_header"><hr /></div>
<table>
<tbody>
<tr>
<td>Nomor</td>
<td>:</td>
<td>026/LEMLIT-UNISAN/GTO/VIII/2017</td>
</tr>
<tr>
<td>Lampiran</td>
<td>:</td>
<td>-</td>
</tr>
<tr>
<td>Hal</td>
<td>:</td>
<td>Permohonan Izin Penelitian</td>
</tr>
</tbody>
</table>
<br/>
<table style="width: 590px;">
<tbody>
<tr>
<td style="width: 88px;">Kepada Yth,</td>
<td style="width: 508px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 88px;">&nbsp;</td>
<td style="width: 508px;">Instansi TujuanSurat</td>
</tr>
<tr>
<td style="width: 88px;">&nbsp;di,-</td>
<td style="width: 508px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 88px;">&nbsp;</td>
<td style="width: 508px;">Gorontalo</td>
</tr>
</tbody>
</table>
<br/>
<table>
<tbody>
<tr>
<td>Yang bertanda tangan di bawah ini :</td>
</tr>
</tbody>
</table>
<table style="width: 410px;">
<tbody>
<tr>
<td style="width: 227px;">Nama</td>
<td style="width: 19px;">:</td>
<td style="width: 336px;">KetuaLemlit</td>
</tr>
<tr>
<td style="width: 227px;">NIDN</td>
<td style="width: 19px;">:</td>
<td style="width: 336px;">0909094234</td>
</tr>
<tr>
<td style="width: 227px;">Jabatan</td>
<td style="width: 19px;">:</td>
<td style="width: 336px;">Ketua Lembaga Penelitian</td>
</tr>
</tbody>
</table>
<br/>

<table>
<tbody>
<tr>
<td>Meminta kesediannya untuk memberikan izin pengambilan data dalam rangka penyusunan <strong>Proposal / Skripsi</strong>, kepada :</td>
</tr>
</tbody>
</table>
<div class="isianmahasiswa">
    <table style="width: 589px;">
    <tbody>
    <tr>
    <td style="width: 163px;">Nama Mahasiswa</td>
    <td style="width: 10px;">:</td>
    <td style="width: 486px;">Superman</td>
    </tr>
    <tr>
    <td style="width: 163px;">NIM</td>
    <td style="width: 10px;">:</td>
    <td style="width: 486px;">ERsgsdgs sdgsd&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 163px;">Fakultas</td>
    <td style="width: 10px;">:</td>
    <td style="width: 486px;">EKONOMI</td>
    </tr>
    <tr>
    <td style="width: 163px;">Program Studi</td>
    <td style="width: 10px;">:</td>
    <td style="width: 486px;">MANAJEMEN</td>
    </tr>
    <tr>
    <td style="width: 163px;">Lokasi Penelitian</td>
    <td style="width: 10px;">:</td>
    <td style="width: 486px;">Isian Lokasi Penelitian</td>
    </tr>
    <tr>
    <td style="width: 163px;">Judul Penelitian</td>
    <td style="width: 10px;">:</td>
    <td style="width: 486px;">&nbsp;Eum facete intellegat ei, ut mazim melius usu. Has elit simul primis ne, regione minimum id cum. Sea deleniti dissentiet ea. Illud mollis moderatius ut per, at qui ubique populo. Eum ad cibo legimus, vim ei quidam fastidii.</td>
    </tr>
    </tbody>
    </table>
</div>
<table>
<tbody>
<tr>
<td>Atas kebijakan dan kerja samanya diucapkan banyak terima kasih.</td>
</tr>
</tbody>
</table>
<br/>
<table style="width: 592px;">
<tbody>
<tr>
<td style="width: 335px;">&nbsp;</td>
<td style="width: 257px;">
<div class="tandatanganketua">
    <p>Gorontalo, Tanggal, Bulan Tahun</p>
    <p>Ketua,</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="text-decoration: underline;"><strong>NamaKEtuaLemlit</strong></span></p>
    <p><strong>NIDN</strong></p>
</div>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;+</p>
<div class="footer-petugas">
    <p>admin : ..</p>
</div>

</html>