<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{#<link rel="stylesheet" type="text/css" href="css/bootstrap.css">#}
{% load static %}
{#<img src="{% static "my_app/example.jpg" %}" alt="My image"/>#}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
{#<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">#}
{#<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">#}

<style>
    .body p {
        margin-bottom: 2rem;
    }
</style>