{% load static %}
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>                <!-- http://tether.io/ -->
<script src="{% static 'js/isInViewport.min.js' %}"></script>          <!-- isInViewport js (https://github.com/zeusdeux/isInViewport) -->
<script src="{% static 'js/bigcity/bootstrap.min.js' %}"></script>             <!-- Bootstrap js (v4-alpha.getbootstrap.com/) -->
<script src="{% static 'js/hero-slider-main.js' %}"></script>          <!-- Hero slider (https://codyhouse.co/gem/hero-slider/) -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> <!-- Magnific popup (http://dimsemenov.com/plugins/magnific-popup/) -->
<script src="{% static 'js/custom-big-city.js' %}"></script>