{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %} Pengajuan Surat|| {{ block.super }} {% endblock head_title %}

{%  block content %}
<!--form untuk pengajuan surat penelitian mahasiswa-->
    <h1> {{ status }} Surat Izin Penelitian Mahasiswa </h1>
    {% if form.errors.non_field_errors %}
        {{ form.errors }}
    {% endif %}
    <form method="POST"> {% csrf_token %}
        {{ form|crispy }}
        <button class="btn-lg" type="submit">Simpan</button>
    </form>


    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>#}
{#	<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>#}
    {{ form.media }}
{% endblock content %}
