{% extends 'base.html' %}
{% block head_title %} List Surat || {{ block.super }} {% endblock head_title %}

{%  block content %}
    <h1>
        List Mahasiswa <small><a class="btn btn-primary" href="{% url 'base:create-mahasiswa' %}">+New</a></small>
    </h1>

    <ul>
        {% for obj in object_list %}
            <li>
                    <a href ="{{ obj.get_absolute_url  }}">{{ obj.nama }}</a> ,
                    {{ obj.nim }},
                    {{ obj.email }}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}