{% extends 'base.html' %}
{% block head_title %} Penelitian || {{ block.super }} {% endblock head_title %}

{%  block content %}
    <h1>
        {{ object.judul|title }}
        <small>
            <a class="btn btn-primary" href="{{ object.get_absolute_url_update }}">Edit</a>
        </small>
    </h1>

    <p>
    Mahasiswa :
    <ul>
    {% for mhs in object.get_all_mhs_in_penelitian %}
        <li>{{ mhs }}</li>
    {% endfor %}
    </ul>
    </p>
    <p>
    Lokasi Penelitian : {{ object.lokasi }}
    </p>
{% endblock content %}