{% extends "base.html" %}

{% block head_title %} Home || {{ block.super }} {% endblock head_title %}

{%  block content %}

    <h1>Bank Data Lemlit </h1>
    <div class="card">
      <div class="card-header">
          Cari Data </div>
      <div class="card-block">
          <p class="card-text">
          <ul>
            <li><a href="{% url 'base:list-mahasiswa' %}">Data Mahasiswa</a></li>
            <li><a href="{% url 'base:list-penelitian' %}">Data Penelitian</a></li>
            <li><a href="{% url 'lemlit:list-surat-penelitian-mahasiswa' %}">Data Surat Penelitian Mahasiswa</a></li>
          </ul>
      </div>
    </div>

{% endblock content %}