{% extends "base.html" %}

{% block head_title %} Home || {{ block.super }} {% endblock head_title %}

{%  block content %}

<h1>Pilih Menu.. </h1>
<div class="card">
  <div class="card-header">
      Lakukan proses berikut untuk data mahasiswa yang belum terdaftar sebelumnya..
  </div>
  <div class="card-block">
    <p class="card-text">
      <ol>
        <li><a href="{% url 'base:create-mahasiswa' %}">Tambah Data Mahasiswa</a></li>
        <li><a href="{% url 'base:create-penelitian' %}">Tambah Data Penelitian</a></li>
        <li><a href="{% url 'lemlit:create-surat-penelitian-mahasiswa' %}">Pengajuan Surat Penelitian Mahasiswa</a></li>
        </ol>
  </div>
</div>

{% endblock content %}