{% extends "base.html" %}

{% block head_title %} Home || {{ block.super }} {% endblock head_title %}

{%  block content %}

<h1>Pilih Menu.. </h1>
<div class="card">
  <div class="card-header">
      Lakukan proses berikut untuk mahasiswa yang belum terdaftar di sistem lemlit  </div>
  <div class="card-block">
    <p class="card-text">
      <ol>
        <li><a href="{% url 'base:create-mahasiswa' %}">Tambah Data Mahasiswa</a></li>
        <li><a href="{% url 'base:create-penelitian' %}">Tambah Data Penelitian</a></li>
        <li><a href="{% url 'lemlit:create-surat-penelitian-mahasiswa' %}">Pengajuan Surat Penelitian Mahasiswa</a></li>
        </ol>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
      Data yang sudah tersedia di sistem lemlit dapat diakses pada menu 'Data' di link navigasi</div>
  <div class="card-block">
    <p class="card-text">
      <ul><li><a href="{% url 'cari-data' %}">Data</a></li></ul>
  </div>
</div>

{% endblock content %}